<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cadastro Financeiro</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
body {
	background:
		url(https://previews.123rf.com/images/intueri/intueri1610/intueri161000027/63789053-farm-birds-seamless-pattern-chickens-geese-ducks-turkey-packaging-farm-products-hand-drawn-vector.jpg)
}

.table td {
	text-align: center;
}

.table th {
	text-align: center;
}
</style>
</head>
<body>
	<header>
		<!-- Inicio do menu -->
		<nav
			class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
			<a class=" navbar-brand" href="#">ASF - Avicultura</a>

			<div class="container collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Início</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarPostura">Postura</a></li>
					<li class="nav-item"><a class="nav-link" href="/cadastrarOvos">Ovos</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarIncubatorio">Incubatório</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarCorte">Corte</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarRacoes">Rações</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/cadastrarVacinas">Vacinas</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/cadastrarFinanceiro">Financeiro<span class="sr-only">(current)</span></a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
					</ul>
				</form>
			</div>
		</nav>
		<!-- Fim do menu -->
	</header>
	<br />
	<div class="container p-3 mb-2 bg-secondary">
		<div class="container">
			<form method="post">
				<div class="row">
					<div class="input-field col s2">
						<label for="data_tratamento">Tipo de Transisão:</label> <select
							name=entrasaida>
							<option th:value="Todos" th:text="Todos"></option>
							<option th:value="entrada" th:text="entrada"></option>
							<option th:value="saida" th:text="saida"></option>
						</select>
					</div>
					<div class="input-field col s2">
						<label for="entrada">Data:</label> <input type="date" value=""
							name="data" /> <label for="data2"> a </label> <input type="date"
							value="" name="data2" />
					</div>
				</div>
				<div class="row">
					<div class="input-field col s2">
						<label for="nome">Produto:</label> <select name="nome">
							<option th:value="Todos" th:text="Todos"></option>
							<option th:each="item : ${listaProdutos}"
								th:value="${item.nomeProduto}" th:text="${item.nomeProduto}" />
						</select>
					</div>
				</div>
				<hr size="30">
				<a href="/edicaoFinanceiro/novo" class="btn btn-dark"
					style="width: 130px;"><i class="material-icons">add</i> Novo</a>
				<button type="submit" class="btn btn-dark"
					href="/cadastrarFinanceiro?data2=${data2}" style="width: 130px;">
					<i class="material-icons">search</i> Pesquisar
				</button>
				<a class="btn btn-dark" href="/cadastrarFinanceiro" role="button"
					style="width: 130px;"><i class="material-icons">clear</i>
					Limpar</a> <a class="btn btn-dark" href="/gerarPDFFinanceiro"
					style="width: 130px;"><i class="material-icons">cloud_download</i><span>
						Relatório</a>
			</form>
		</div>

		<hr size="30">

		<table class="container table table-bordered">
			<thead>
				<tr>
					<th>Código</th>
					<th>Nome do produto</th>
					<th>Valor</th>
					<th>Data</th>
					<th>Tipo de transicao</th>
					<th>Observação</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="co : ${listaFinanceiro}">
					<td><span th:text="${co.codigo}"></span></td>
					<td><span th:text="${co.nome}"></span></td>
					<td>R$ <span th:text="${co.valor}"></span></td>
					<td><span th:text="${co.data2}"></span></td>
					<td><span th:text="${co.entrasaida}"></span></td>
					<td><span th:text="${co.observacao}"></span></td>
					<td><a th:href="|/edicaoFinanceiro/editar/${co.codigo}|"><i
							class="material-icons" data-toggle="tooltip"
							style="color: black;" title="Editar">&#xE254;</i> </a> <a
						th:href="|/cadastrarFinanceiro/delete/${co.codigo}|"><i
							class="material-icons" data-toggle="tooltip"
							style="color: black;" title="Deletar">&#xE872;</i></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>