<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
    <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<style media="screen">
	 input::-webkit-inner-spin-button, 
	 input::-webkit-outer-spin-button{ 
	 -webkit-appearance:none; } 
	 input[type="number"]{ 
	 -moz-appearance:textfield; }
</style>
<body>
	
	<th:block th:include="mensagemValidacao"></th:block>
	
	<div class="container formEvento">
		<form  method="post">
			<div class="row">
				<div class="input-field col s3">
					<input type="text" value="" name="nome"/>
					<label for="nome_produto">Nome do produto</label>
				</div>
				<div class="input-field col s1">
					<input type="number" step="any"  name="valor"/> 
					<label for="valor">Valor (R$)</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s2">
					<input type="text" value=""  name="entrasaida"/>
					<label for="tipo_transicao">Tipo de trasição</label>
				</div>
				<div class="input-field col s4">
					<input id="input_text" type="text" value="" name="detalhe" data-length="100"/>
					<label for="detalhe">Detalhe</label>
				</div>
			</div>
		
			<button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">save</i>Salvar</button>
			<a href="/cadastrarFinanceiro" class="waves-effect waves-light btn"><i class="material-icons left">keyboard_return</i>Voltar</a>
		</form>
	</div>
	
	<script src="jquery.js"></script>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    
    <script type="text/javascript" src="js/utils.js"></script>
</body>
</html>