<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cadastro Postura</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<!-- Inicio do menu -->
	<nav
		class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
		<a class=" navbar-brand" href="#">ASF - Avicultura</a>

		<div class="container collapse navbar-collapse"
			id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Início</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="/cadastrarPostura">Postura<span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarOvos">Ovos</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarIncubatorio">Incubatório</a></li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarCorte">Corte</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarRacoes">Rações</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarVacinas">Vacinas</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarFinanceiro">Financeiro</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/gerarRelatorios">Relatórios</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
				</ul>
			</form>
		</div>
	</nav>
	<!-- Fim do menu -->

	<br />

	<div class="container p-3 mb-2 bg-secondary">
		<div class="container">
			<a href="/edicaoPostura/novo" class="btn btn-dark">Novo</a>
		</div>

		<hr size="30">

		<table class="container table table-bordered">
			<thead>
				<tr>
					<th>Código</th>
					<th>Quantidade</th>
					<th>Maximo de Aves</th>
					<th>Data de Entrada</th>
					<th>Data de Saida</th>
					<th>Tipo de Ave</th>
					<th>Observação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="p : ${listaPostura}">
					<td><span th:text="${p.codigo}"></span></td>
					<td><span th:text="${p.quantidade}"></span></td>
					<td><span th:text="${p.maximo}"></span></td>
					<td><span th:text="${p.entrada}"></span></td>
					<td><span th:text="${p.saida}"></span></td>
					<td><span th:text="${p.tipoave}"></span></td>
					<td><span th:text="${p.observacao}"></span></td>
					<td><a class="btn btn-dark"
						th:href="|/edicaoPostura/editar/${p.codigo}|">Editar </a> <a
						class="btn btn-dark"
						th:href="|/cadastrarPostura/delete/${p.codigo}|">Excluir </td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>