<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>EventosApp</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    
    <link rel="stylesheet" href="style/styleCss.css"/>
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    
</head>
<body>
	
	<th:block th:include="mensagemValidacao"></th:block>
	
	<div class=" formEvento">
		<form  method="post">
			<div class="row">
			 <div class="input-field col s3">
					Tipo de Ave:
    			<select name="tipoAve" >
      				<option th:each="item : ${listaAves}"
                		th:value="${item.nomeAve}"
                		th:text="${item.nomeAve}" />
    			</select>
				</div>
				<div class="input-field col s1">
					Quantidade: <input type="number" value="0" min="0" name="quantidade"/>
				</div>
				<div class="input-field col s1">
					Max. Aves: <input type="number" value="0" min="0" name="maximoAves"/>
				</div>
			</div>
			<div class="row">
				<div class="input-group input-field col s3 date data_formato" data-date-format="dd/mm/yyyy HH:ii:ss">
					<input type="text" class="form-control" name="dataEntrada" placeholder="">
					<label for="data_entradaa">Data de entrada</label>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</span>
				</div> 
				<div class="input-group input-field col s3 date data_formato" data-date-format="dd/mm/yyyy HH:ii:ss">
					<input type="text" class="form-control" name="datasaida" placeholder="">
					<label for="data_saida">Data de saida</label>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-th"></span>
					</span>
				</div> 
			</div>
			<div class="row">
				<div class="input-field col s6">
					Comentario: <input type="text" value=""  name="comentario"/>
				</div>
			</div>
		
			<button class="waves-effect waves-light btn" type="submit"><i class="material-icons left">save</i>Salvar</button>
			<a href="/cadastrarPostura" class="waves-effect waves-light btn"><i class="material-icons left">keyboard_return</i>Voltar</a>
		</form>
	</div>
	
	<script src="jquery.js"></script>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
	<script src="js/locales/bootstrap-datetimepicker.pt-BR.js"></script>
    
    
    <script type="text/javascript">
			$('.data_formato').datetimepicker({
				weekStart: 1,
				todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                forceParse: 0,
                showMeridian: 1,
                language: "pt-BR",
                //startDate: '+0d'
			});
		</script>
    
    <script>
    $(document).ready(function(){
        $('select').formSelect();
      });
    </script>
</body>
</html>