<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cadastro Ovos</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
body {
	background:
		url(https://previews.123rf.com/images/intueri/intueri1610/intueri161000027/63789053-farm-birds-seamless-pattern-chickens-geese-ducks-turkey-packaging-farm-products-hand-drawn-vector.jpg)
}

.table td {
	text-align: center;
}

.table th {
	text-align: center;
}
</style>
</head>
<body>
	<header>
		<!-- Inicio do menu -->
		<nav
			class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
			<a class=" navbar-brand" href="#">ASF - Avicultura</a>

			<div class="container collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Início</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarPostura">Postura</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/cadastrarOvos">Ovos<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarIncubatorio">Incubatório</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarCorte">Corte</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarRacoes">Rações</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/cadastrarVacinas">Vacinas</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarFinanceiro">Financeiro</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
					</ul>
				</form>
			</div>
		</nav>
		<!-- Fim do menu -->
	</header>

	<br />

	<div class="container p-3 mb-2 bg-secondary">
		<div class="container">
			<form method="post">
				<div class="row">
					<div class="input-field col s2">
						<label for="tipo_aves">Tipo de Ave:</label> <select name="tipoave">
							<option th:value="Todos" th:text="Todos"></option>
							<option th:each="item : ${listaAves}" th:value="${item.nomeAve}"
								th:text="${item.nomeAve}" />
						</select>
					</div>
					<div class="input-field col s3">
						<label for="data">Data:</label> <input type="date" value=""
							name="data" /> <label for="data2"> a </label> <input type="date"
							value="" name="data2" />
					</div>
				</div>
				<hr size="30">
				<a href="/edicaoOvos/novo" class="btn btn-dark"
					style="width: 130px;"><i class="material-icons">add</i> Novo</a>
				<button type="submit" class="btn btn-dark"
					href="/cadastrarOvos?data2=${data2}" style="width: 130px;">
					<i class="material-icons">search</i> Pesquisar
				</button>
				<a class="btn btn-dark" href="/cadastrarOvos" role="button"
					style="width: 130px;"><i class="material-icons">clear</i>
					Limpar</a> <a class="btn btn-dark" href="/gerarPDFOvos"
					style="width: 130px;"><i class="material-icons">cloud_download</i>
					Relatório</a>
			</form>
		</div>
		<hr size="30">
		<table class="container table table-bordered">
			<thead>
				<tr>
					<th>Código</th>
					<th>Cód. Postura</th>
					<th>Quantidade</th>
					<th>Qualidade</th>
					<th>Data de produção</th>
					<th>Tipo de ave</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="ovos : ${listaOvos}">
					<td><span th:text="${ovos.codigo}"></span></td>
					<td><span th:text="${ovos.postura}"></span></td>
					<td><span th:text="${ovos.quantidade}"></span></td>
					<td><span th:text="${ovos.qualidade}"></span></td>
					<td><span th:text="${ovos.data2}"></span></td>
					<td><span th:text="${ovos.tipoave}"></span></td>
					<td><a th:href="|/edicaoOvos/editar/${ovos.codigo}|"><i
							class="material-icons" data-toggle="tooltip"
							style="color: black;" title="Editar">&#xE254;</i></a> <a
						th:href="|/cadastrarOvos/delete/${ovos.codigo}|"><i
							class="material-icons" data-toggle="tooltip"
							style="color: black;" title="Deletar">&#xE872;</i></a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>