<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Inicio</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">

<style>
body {
	background:
		url(https://previews.123rf.com/images/intueri/intueri1610/intueri161000027/63789053-farm-birds-seamless-pattern-chickens-geese-ducks-turkey-packaging-farm-products-hand-drawn-vector.jpg)
}
</style>
</head>
<body>
	<header>
		<!-- Inicio do menu -->
		<nav
			class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
			<a class=" navbar-brand" href="#">ASF - Avicultura</a>

			<div class="container collapse navbar-collapse"
				id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Início<span
							class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarPostura">Postura</a></li>
					<li class="nav-item"><a class="nav-link" href="/cadastrarOvos">Ovos</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarIncubatorio">Incubatório</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarCorte">Corte</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarRacoes">Rações</a></li>
					<li class="nav-item "><a class="nav-link"
						href="/cadastrarVacinas">Vacinas</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/cadastrarFinanceiro">Financeiro</a></li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
					</ul>
				</form>
			</div>
		</nav>
		<!-- Fim do menu -->
	</header>
	<br />
	<div class="container p-3 mb-2 bg-secondary">
		<div class="row">
			<div class="col">
				<div class="container">
					<a href="/cadastrarNovaAve" class="btn btn-dark"
						style="width: 200px;"><i class="material-icons">add</i> Novo
						Tipo de Ave</a>
				</div>
				<br />
				<div class="container">
					<a href="/cadastrarUsuario" class="btn btn-dark"
						style="width: 200px;"><i class="material-icons">add</i> Novo Usuário  </a>
				</div>
				<br />
				<div class="container">
					<a href="/cadastrarProduto" class="btn btn-dark"
						style="width: 200px;"><i class="material-icons">add</i> Novo Produto  </a>
				</div>
			</div>
			<div class="col">
				<div class="container">
					<a href="download/ASF_AVICULTURA_APP.apk" class="btn btn-dark"
						style="width: 240px;"><i class="material-icons">get_app</i>  Download App Android</a> 
				</div>
				<div class="container">
					<a href="/tutorial">Tutorial de como instalar</a>
				</div>
				<img
					src="https://cms-assets.tutsplus.com/uploads/users/362/posts/29053/preview_image/picGeneric.jpg"
					class="img-thumbnail">
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
</body>
</html>