<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://thymeleaf.org">
<head>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
</head>
<body>

	<!-- Inicio do menu -->
	<nav
		class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
		<a class=" navbar-brand" href="#">ASF - Avicultura</a>

		<div class="container collapse navbar-collapse"
			id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Início</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="/cadastrarPostura">Postura</a></li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarOvos">Ovos</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarIncubatorio">Incubatório</a></li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarCorte">Corte</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarRacoes">Rações</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarVacinas">Vacinas</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarFinanceiro">Financeiro</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
				</ul>
			</form>
		</div>
	</nav>
	<!-- Fim do menu -->

</body>
</html>