<!DOCTYPE html>

<html lang="pt" 
	xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  

<header>
  		<nav class="nav-extended">
    		<div class="nav-wrapper container">
      			<a href="#" class="brand-logo">Inicio</a>
      			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
      				<li><a href="/logout">Sair</a></li>
      			</ul>
   			 </div>
    		<div class="nav-content container">
      			<ul class="tabs tabs-transparent">
        			<li class="tab"><a href="/">inicio</a></li>
        			<li class="tab"><a href="/cadastrarPostura">Postura</a></li>
        			<li class="tab"><a href="/cadastrarOvos">Ovos</a></li>
        			<li class="tab"><a href="/cadastrarIncubatorio">Incubatorio</a></li>
        			<li class="tab"><a href="/cadastrarCorte">Corte</a></li>
        			<li class="tab"><a href="/cadastrarRacoes">Racoes</a></li>
      				<li class="tab"><a href="/cadastrarVacinas">Vacinas</a></li>
      				<li class="tab"><a href="/cadastrarFinanceiro">Financeiro</a></li>
      				<li class="tab"><a href="/gerarRelatorios">Relatorios</a></li>
      			</ul>
    		</div>
  		</nav>
	</header>
	<br/>
		  
</html>