<!DOCTYPE html>
<html lang="pt" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Tutorial</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style>
body {
	background:
		url(https://previews.123rf.com/images/intueri/intueri1610/intueri161000027/63789053-farm-birds-seamless-pattern-chickens-geese-ducks-turkey-packaging-farm-products-hand-drawn-vector.jpg)
}
</style>
</head>
<body>
	<!-- Inicio do menu -->
	<nav
		class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
		<a class=" navbar-brand" href="#">ASF - Avicultura</a>

		<div class="container collapse navbar-collapse"
			id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/">Início</a></li>
				<li class="nav-item "><a class="nav-link"
					href="/cadastrarPostura">Postura</a></li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarOvos">Ovos</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarIncubatorio">Incubatório</a></li>
				<li class="nav-item"><a class="nav-link" href="/cadastrarCorte">Corte</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarRacoes">Rações</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarVacinas">Vacinas</a></li>
				<li class="nav-item"><a class="nav-link"
					href="/cadastrarFinanceiro">Financeiro</a></li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
				</ul>
			</form>
		</div>
	</nav>

	<br/>

	<div class="container p-3 mb-2 bg-secondary">
		1. Baixe o aplicativo no <a href="download/ASF_AVICULTURA_APP_Beta_1.0.apk" >link</a>. <br /> 2. Se baixou o
		aplicativo no computador, transfira ele para o seu smartphone.
		Recomendação colocar na pasta Download. <br /> 3. Ache o arquivo em
		seu aparelho e clique nele. <br /> 4. Escolha a opção instalar. <br />
		5. Agora só utilizar o aplicativo.
	</div>
</body>
</html>