<!doctype html PUBLIC "-//W3C//DTD HTML 4.01//PT" 
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="pt" xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Cadastro Vacinas</title>
</head>
<body style = "background: url(imagens/aves.jpg)">

	<!-- Inicio do menu -->
	<nav
		class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark">
	<a class=" navbar-brand" href="#">ASF - Avicultura</a>

	<div class="container collapse navbar-collapse"
		id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/">Início</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/cadastrarPostura">Postura</a></li>
			<li class="nav-item"><a class="nav-link" href="/cadastrarOvos">Ovos</a></li>
			<li class="nav-item"><a class="nav-link"
				href="/cadastrarIncubatorio">Incubatório</a></li>
			<li class="nav-item"><a class="nav-link" href="/cadastrarCorte">Corte</a></li>
			<li class="nav-item"><a class="nav-link" href="/cadastrarRacoes">Rações</a></li>
			<li class="nav-item active"><a class="nav-link"
				href="/cadastrarVacinas">Vacinas<span class="sr-only">(current)</span></a></li>
			<li class="nav-item"><a class="nav-link"
				href="/cadastrarFinanceiro">Financeiro</a></li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/logout">Sair</a></li>
			</ul>
		</form>
	</div>
	</nav>
	<!-- Fim do menu -->
	<br />
	<div class="container p-3 mb-2 bg-secondary">
		<div class="container">
			<form method="post">
				<div class="row">
					<div class="input-field col s2">
						<label for="data_tratamento">Código:</label> <input type="text"
							value="" name="codigo" placeholder="" />
					</div>
					<div class="input-field col s2">
						<label for="data">Data:</label> <input type="date" value=""
							name="data" /> <label for="data2"> a </label>  <input type="date" value=""
							name="data2" />
					</div>
					<div class="input-field col s2">
						<label for="tipo_tratamento">Tipo:</label> <input type="text"
							value="" min="" name="tipo" />
					</div>
				</div>
				<hr size="30">
				<a class="btn btn-dark" href="/edicaoVacinas/novo" role="button">Novo</a>
				<button type="submit" class="btn btn-dark"
					href="/cadastrarVacinas?data2=${data2}">Pesquisar</button>
				<a class="btn btn-dark" href="/cadastrarVacinas" role="button">Limpar</a>
				<a class="btn btn-dark" href="/gerarPDFVacinas">Gerar Relatório</a>
			</form>
		</div>
		<hr size="30">
		<table class="container table table-bordered">
			<thead>
				<tr>
					<th>Código</th>
					<th>Tipo de tratamento</th>
					<th>Data</th>
					<th>Observação</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="v : ${listaVacinas}">
					<td><span th:text="${v.codigo}"></span></td>
					<td><span th:text="${v.tipo}"></span></td>
					<td><span th:text="${v.data}"></span></td>
					<td><span th:text="${v.observacao}"></span></td>
					<td><a class="btn btn-dark"
						th:href="|/edicaoVacinas/editar/${v.codigo}|">Editar </a> <a
						class="btn btn-dark"
						th:href="|/cadastrarVacinas/delete/${v.codigo}|">Excluir</a></td>
				</tr>
			</tbody>
		</table>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>